* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.link-form {
    color: rgb(0,123,255);
    text-decoration: none;
    overflow: hidden;
    outline: none;
    border: none;
    border-bottom: .4px solid transparent;
}

.link-form:hover {
    color: rgb(20, 20, 20);
    border-bottom: rgb(20, 20, 20);
    ;
}

.nav-bg {
    background: rgb(255, 255, 255);
}

#products-fill {
    overflow-y: scroll;
}

.nav-top {
    height: 36px;
    width: 93vw;
    margin: auto;
    background: white;
    color: #3F3D56 ;
}

.nav-text {
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
    font-size: 20px;
}

.grid-2-nav {
    display: grid;
    grid-template-columns: 35% 65%;
}

.links {
    text-align: right;
}

ul li {
    display: inline-block;
    list-style: none;
    color: #3F3D56;
    padding: 7px 15px;
}

ul li a {
    transition: border-bottom .7s;
    padding-bottom: 4px;
    color: rgb(30, 28, 46);
    border: none;
    border-bottom: 1.2px solid transparent;
    text-decoration: none;
    outline: none;
}
ul li a:hover {
    color: rgb(30, 28, 46);
    border: none;
    border-bottom: 1.2px solid #3F3D56;
    text-decoration: none;
    outline: none;
}


