* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link-form {
    color: rgb(0,123,255);
    text-decoration: none;
    overflow: hidden;
    outline: none;
    border: none;
    border-bottom: .4rspx solid transparent;
}

.link-form:hover {
    color: rgb(20, 20, 20);
    border-bottom: rgb(20, 20, 20);
    ;
}