#product-name {
    font-size: 28px;
    margin: 10px 1px 10px 0px;
    max-width: 90vw;
    text-align: center;
    color: rgb(10, 10, 10);
}

body {
    overflow: hidden;
}

#not-settings {
    margin: 25px 0px 10px 0px;
}

.displayNone {
    display: none;
}

.form-check {
    display: none;
}

#product {
    margin: auto;
    margin-top: 14px;
    width: 83vw;
}

#product-price {
    margin-top: 14px;
    text-align: left;
    font-size: 25px;
}

#price-cheapest {
    margin-top: 10px;
    float: left;
    font-size: 24px;   
}

#back-btn {
    color: rgb(29, 30, 36);
    font-size: 14px;
    padding: 6px 0px 0px 6px;
}

.img-container{
    max-height: 300px;
    max-width: 700px;
}

#thumbnail {
    max-height: 32vh;
    max-width: 30vw;
    margin: auto;
    text-align: center;
}

#error-msg {
    color: rgb(245, 0, 0);
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0px;
}

.data-over-time {
    justify-content: center;
    width: 90%;
    margin: auto;
    max-height: 300px;
}


.saveBtn-gen {
    padding: 8px 12px;
    transition: background-color .5s;
    border-radius: 7px;
    margin-top: 12px;
    font-size: 14px;
    transition: background-color .5s;
}

.saveBtn {
    display: none;
  }
  .saveBtn:hover {
    display: none;
  }

  .saveBtnActive {
    background-color: #3F3D56;
    color: white;
  }

  .saveBtnActive:hover {
      color: white;
  }

  /* On screens that are xpx or more, set the background color to blue */
@media screen and (min-width: 1355px) {
    #product-name {
        font-size: 30px;
        margin: 10px 1px 10px 0px;
        max-width: 92vw;
        text-align: left;
        color: rgb(10, 10, 10);
    }

    #thumbnail {
        max-height: 31vh;
        max-width: 45vw;
        margin: auto;
        text-align: center;
        margin-bottom: 5px;
    }

    #product-price {
        margin-top: 20px;
        text-align: left;
        font-size: 26px;
    }

  }
  
  @media screen and (max-width: 720px) {
      
    #product-price {
        margin-top: 15px;
        text-align: left;
        font-size: 24px;
    }

    #thumbnail {
        max-height: 30vh;
        max-width: 50vw;
        margin: auto;
        text-align: center;
    }

    #product-name {
        font-size: 26px;
        margin: 0px 1px 7px 0px;
        max-width: 95vw;
        text-align: center;
        color: rgb(10, 10, 10);
    }

  }
  