#product-name {
    font-size: 26px;
    margin: 40px 1px 15px 0px;
    width: 900px;
    color: rgb(10, 10, 10);
    
}

#not-settings {
    margin: 25px 0px 10px 0px;
}

.displayNone {
    display: none;
}

.form-check {
    display: none;
}

#product {
    margin: auto;
    margin-top: 14px;
    width: 83vw;
}

#product-price {
    margin-top: 14px;
    float: left;
    font-size: 24px;
}

#price-cheapest {
    margin-top: 10px;
    float: left;
    font-size: 24px;   
}

#back-btn {
    color: rgb(29, 30, 36);
    font-size: 14px;
    padding: 6px 0px 0px 6px;
}

.img-container{
    max-height: 300px;
    max-width: 700px;
}

#thumbnail {
    max-height: 300px;
    max-width: 650px;
    margin: auto;
    text-align: center;
}

#error-msg {
    color: rgb(245, 0, 0);
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0px;
}

.data-over-time {
    justify-content: center;
    width: 90%;
    margin: auto;
    max-height: 300px;
}

#prices-week {
    max-height: 500px;
}

.saveBtn-gen {
    padding: 8px 12px;
    transition: background-color .5s;
    border-radius: 7px;
    margin-top: 12px;
    font-size: 14px;
    transition: background-color .5s;
}

.saveBtn {
    display: none;
  }
  .saveBtn:hover {
    display: none;
  }

  .saveBtnActive {
    background-color: #3F3D56;
    color: white;
  }

  .saveBtnActive:hover {
      color: white;
  }