body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  background: rgb(255, 255, 255);
}

h2 {
  margin-top: 30px;
  font-size: 36px;
  text-align: center;
}

.container-body {
  width: 80vw;
  margin: auto;
}

input:focus {
  outline: #F50057;
}

#search-p {
  text-align: center;
  margin: auto;
  max-width: 70%;
  padding: 0px 0px 20px 0px;
}

img {
  margin-top: 40px;
    height: 200px;
    display: block;
    margin: auto;
    text-align: center;
    
}

#submitBtn {
  background-color: #F50057;
  color: rgb(255, 255, 255);
}